<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiry</title>
</head>
<body>
    <h1>管理者メニュー</h1>
    <form action="/next1/search" method="POST">
        <h3>ユーザー検索</h3>
        名前: <input type="text" name="search_name" title="名前">
        <input type="submit" value="検索"　title="検索">
    </form>
    <h3>データベース操作</h3>

    <form action="/next1/add" method="post">
        <h4>ユーザー追加</h4>
            新しい名前: <input type="text" title="新規名前" name="add_name" required>
            新しいメール: <input type="email" title="新規メール"　name="add_email">
        <input type="submit" title="追加"　value="追加">
    </form>

    <form action="/next1/edit" method="POST">
        <h4>ユーザー情報編集</h4>
        既存の名前: <input type="text"　title="既存の名前" name="current_name" required>
        新しい名前: <input type="text"　title="新しい名前" name="new_name" required>
        新しいメール: <input type="email"　title="新しいメール" name="new_email">
        <input type="submit"　title="更新" value="更新">
    </form>

    <h3>全ユーザー一覧</h3>
    <div id="user_list">
</body>
</html>