<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiry</title>
</head>
<body>
    <body>
        <h2>{{ question }}</h2>
        <form action="/ans/{{ key }}" method="POST">
            <label>
                <input type="radio" name="answer" value="1"> {{ option1 }}
            </label><br>
            <label>
                <input type="radio" name="answer" value="2"> {{ option2 }}
            </label><br><br>
            <input type="submit" title="回答を送信" value="回答を送信">
        </form>
        <br>
        <a href="/">戻る</a>
</body>
</html>
